.venv/
pyenv/

*.pyc
__pycache__/
.mypy_cache
*_cache

# instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# for experimenting with code, writing notes etc...
temp.*
temp_*

.vscode
*.db
*.sqlite